<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danggeunko.review.dao.ReviewDao">
	<!-- 리뷰 추가-->
	<insert id="insertReview" parameterType="Review">
		INSERT INTO review (course_id, content, rating, user_id)
		VALUES(#{courseId}, #{content}, #{rating}, #{userId})
	</insert>
	<!-- 특정 코스에 대한 리뷰 조회-->
	<select id="getReviewsByCourse" resultType="Review" parameterType="ReviewSearchCondition">
	      SELECT r.*, u.profile_img as profileImg, u.nickName as nickName, u.user_city as userCity, u.user_district as userDistrict
	      FROM review r
	      LEFT JOIN user u
	      ON r.user_id = u.user_id
	      WHERE r.course_id = #{courseId}
	      <if test="sortBy != null">
	      ORDER BY 
	      <choose>
	      	<when test="sortBy == 'rating'">r.rating</when>
	      	<when test="sortBy == 'createdAt'">r.created_at</when>
	      	<otherwise>r.review_id</otherwise>
	      </choose>
	      <if test="sortDirection == 'desc'">DESC</if>
	      <if test="sortDirection == 'asc'">ASC</if>
	      </if>
	      <if test="size != null and size > 0 and page != null and page > 0">
	      	LIMIT #{size} OFFSET #{offset}
	      </if>
	</select>
	<!-- 리뷰 수정 -->
	<update id="updateReview" >
		UPDATE review
		SET course_id = #{review.courseId}, content = #{review.content}, rating = #{review.rating}
		WHERE review_id = #{reviewId}
	</update>
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM review
		WHERE review_id = #{reviewId}
	</delete>
	<select id="selectAverageRating" parameterType="int" resultType="double">
    SELECT IFNULL(AVG(rating), 0)
    FROM review
    WHERE course_id = #{courseId}
	</select>
	<select id="getReviewById" parameterType="int" resultType="Review">
		SELECT *
		FROM review
		WHERE review_id = #{reviewId}
	</select>
</mapper>