<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danggeunko.user.dao.UserDao">

	<!-- 회원 추가 -->
<insert id="insertUser" parameterType="User">
    INSERT INTO user(
        user_name, nickname, user_email, user_password, gender,
        age, user_city, user_district, pref_distance, pref_difficulty, profile_img
    )
    VALUES (
        #{userName}, #{nickname}, #{userEmail}, #{userPassword}, #{gender},
        #{age}, #{userCity}, #{userDistrict}, #{prefDistance}, #{prefDifficulty}, #{profileImg}
    )
    </insert>
	<!-- 특정 회원 조회 -->
	<select id="getUserById" parameterType="int" resultType="User">
	    SELECT user_id, user_name, nickname, user_email, user_password, gender,
	           age, user_city, user_district, pref_distance, pref_difficulty, profile_img
	    FROM user
	    WHERE user_id = #{userId};
	</select>
	<!-- 특정 회원 조회 닉네임으로 -->
	<select id="getUserByNickname" parameterType="String" resultType="User">
	    SELECT user_id, user_name, nickname, user_email, user_password, gender,
	           age, user_city, user_district, pref_distance, pref_difficulty, profile_img
	    FROM user
	    WHERE nickname = #{nickname};
	</select>
	<!-- 전체 회원 조회 -->
	<select id="getAllUsers" resultType="User">
		SELECT *
		FROM user;
	</select>
	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="map">
    UPDATE user
    <set>
        <if test="user.nickname != null and user.nickname != ''">
            nickname = #{user.nickname},
        </if>
        <if test="user.userEmail != null and user.userEmail != ''">
            user_email = #{user.userEmail},
        </if>
        <if test="user.userPassword != null and user.userPassword != ''">
            user_password = #{user.userPassword},
        </if>
        <if test="user.gender != null and user.gender != ''">
            gender = #{user.gender},
        </if>
        <if test="user.age != null">
            age = #{user.age},
        </if>
        <if test="user.userCity != null">
            user_city = #{user.userCity},
        </if>
        <if test="user.userDistrict != null">
            user_district = #{user.userDistrict},
        </if>
        <if test="user.prefDistance != null">
            pref_distance = #{user.prefDistance},
        </if>
        <if test="user.prefDifficulty != null and user.prefDifficulty != ''">
            pref_difficulty = #{user.prefDifficulty},
        </if>
        <if test="user.profileImg != null and user.profileImg != ''">
            profile_img = #{user.profileImg},
        </if>
    </set>
    WHERE user_id = #{userId}
</update>
	<!-- 회원 정보 삭제 -->
	<delete id="deleteUser" parameterType="int">
		DELETE FROM user
		WHERE user_id = #{userId};
	</delete>

	<!-- 팔로우 추가 -->
	<insert id="addFollow" parameterType="Follow">
		INSERT INTO Follow (following_id, follower_id)
		VALUES(#{followingId}, #{followerId})
	</insert>
	<!-- 팔로우 삭제 -->
	<delete id="deleteFollow" parameterType="Follow">
	    DELETE FROM Follow
	    WHERE following_id = #{followingId} and follower_id = #{followerId}
	</delete>
	<!-- 팔로잉 조회 -->
	<select id="getFollowingById" parameterType="int" resultType="User">
     SELECT *
     FROM Follow f  -- 기준 테이블: Follow 관계
     INNER JOIN User u
     ON u.user_id = f.follower_id 
     WHERE f.following_id = #{userId} 
	</select>
	<!-- 팔로워 조회 -->	
	<select id="getFollowerById" parameterType="int" resultType="User">
     SELECT *
     FROM Follow f 
     INNER JOIN User u
     ON u.user_id = f.following_id 
     WHERE f.follower_id = #{userId}
	</select>
	
	<select id="countByNickname" resultType="int">
    SELECT COUNT(*) FROM user WHERE nickname = #{nickname}
	</select>

	<select id="countByEmail" resultType="int">
    SELECT COUNT(*) FROM user WHERE user_email = #{userEmail}
	</select>
	
	<select id="login" parameterType="com.danggeunko.auth.dto.LoginRequest" resultType="User">
	SELECT *
	FROM USER
	WHERE user_email = #{id}
	</select>
	
	
	
</mapper>